body {
    margin: 0;
    background-color: pink;
}

a {
    text-decoration:none;
}

#menuLogo {
    float: left;
    margin-top: 8px;
    margin-left: 100px;
}

#mainMenu {
    top:0px;
    float: right;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: white;
}

#mainMenu ul {
    margin: 0px;
    margin-right: 100px;
    float: right;
}

#mainMenu ul li {
    list-style: none;
    float: left;
    padding: 0px 30px;
    line-height: 80px;
    vertical-align: middle;
    text-align: right;
}

#mainMenu .menuLink {
    color: black;
    font-weight: bold;
}

.menuLink:hover {
    color: red !important
}

/*pages*/
.pages div {
    width: 100vw;
    height: 100vh;
}

.page1 {
    background-color: red;
}

.page2 {
    background-color: orange;
}